<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
        <!--link de estilo-->
    <link rel="stylesheet" href="/css/style.css">
        <!--link de las fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap" rel="stylesheet">
        <!--link de los iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="logo-search">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" class="logo-mercadoliebre">
            </div>
            
            <div class="search-bar">
            
                <input type="text" placeholder="Buscar producto, marcas"></input>
            
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        
            <div class="titulo-cuotas-header">
                <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>

        </div>
        <div class="titulo-cuotas-nav">
            <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        <div class="nav-options-container">
            <ul class="nav-options">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-options1">
                <li><a href="/register">Creá tu cuenta </a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </div>
        </div>

        <img src="/images/img-home-banner.jpg" class="imagen-banner-superior">
    </header>

    <main>
        <section class="product-gallery">
            <h2>Basados en tu última visita</h2>           
            <div class="product-container">
                <div class="box-product">
                    <img src="/images/img-cafetera-moulinex.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="product-name">Cafetera Moulinex</p>
                    </div>
                </div>               
                <div class="box-product">
                    <img src="/images/img-macbook-pro-2019.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="product-name">MacBook Pro 2019</p>
                    </div>                   
                </div>               
                <div class="box-product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">5% OFF</p>
                        <p class="product-name">Samsung Galaxy S10</p>
                    </div>
                </div>                
                <div class="box-product">
                    <img src="/images/img-tv-samsung-smart.jpg" class="img-product">                    
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="product-name">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-gallery">
            <h2>Ofertas</h2>
            <div class="product-container">
                <div class="box-product">
                    <img src="/images/img-cafetera-moulinex.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="product-name">Cafetera Moulinex</p>
                    </div>
                </div>               
                <div class="box-product">
                    <img src="/images/img-macbook-pro-2019.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="product-name">MacBook Pro 2019</p>
                    </div>                   
                </div>               
                <div class="box-product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="img-product">
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">5% OFF</p>
                        <p class="product-name">Samsung Galaxy S10</p>
                    </div>
                </div>                
                <div class="box-product">
                    <img src="/images/img-tv-samsung-smart.jpg" class="img-product">                    
                    <div class="descripcion-product">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="product-name">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="foot">
        <div>
            <div class="card"><i class='bx bxs-credit-card'></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="cuerpo-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </div>
        <div>
            <div class="gift"><i class='bx bx-gift' ></i></div>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p class="cuerpo-de-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
        </div>
        <div>
            <div class="security"><i class="fa-solid fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p class="cuerpo-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
        </div>
        <div>
            <p class="copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>