<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
        <!--link de estilo-->
    <link rel="stylesheet" href="/css/style.css">
        <!--link de las fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap" rel="stylesheet">
        <!--link de los iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="logo-search">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" class="logo-mercadoliebre">
            </div>
            
            <div class="search-bar">
            
                <input type="text" placeholder="Buscar producto, marcas"></input>
            
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        
            <div class="titulo-cuotas-header">
                <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>

        </div>
        <div class="titulo-cuotas-nav">
            <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        <div class="nav-options-container">
            <ul class="nav-options">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-options1">
                <li><a href="/register">Creá tu cuenta </a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </div>
        </div>

        <img src="/images/img-home-banner.jpg" class="imagen-banner-superior">
    </header>

    <main>

    <form action="/register" class="register-form">
        
        <label for="nombre-completo">Nombre y apellido</label>
        <input type="text">   
    
        <label for="user-name">Nombre de usuari@</label>
        <input type="text">
     
        <label for="fecha-de-nac">Fecha de nacimiento</label>
        <input type="date">

        <label for="" class="domicilio">Domicilio </label>
        <input type="text" name="" id="">

        <label for="" class="perfil-usuario">perfil de usuario</label>
            <div>
                <input type="radio" value="si"> <label for="">Comprador</label>
                <input type="radio" value="no"> <label for="">Vendedor</label>
            </div>
            <form action="register" class="intereses">
            <label for="">Intereses</label>
            <label for="">Electro</label>
            <input type="checkbox">
            <label for="">Moda</label>
            <input type="checkbox">
            <label for="">Hogar</label>
            <input type="checkbox">
            <label for="">Jugueteria</label>
            <input type="checkbox">
    
            <label for="" class="img-user">Foto de usuario</label>
            <input type="file">
 
            <label for="">Contraseña</label>
            <input type="password">

            <label for="">Confirmar contraseña</label>
            <input type="password" placeholder="password">

            <form action="submit" class="button-register-send">
            <button type="submit">Enviar</button>
            </form>
            <form action="reset" class="button-register-send">
            <button type="reset">Borrar</button>
            </form>
    </form>    
 </main>
 <footer>
    <section>

        <div class="seccion-inferior">
            <div class="seccion-inferior-items">
                <i class="fa-solid fa-credit-card"></i><br>
                <strong>Pagá con tarjeta o en efectivo
                </strong>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
            <div class="seccion-inferior-items">
                <i class="fa-solid fa-gift"></i>
                <strong>
                    <p></p>Envío gratis desde los $2500</p>
                </strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seccion-inferior-items">
                <i class="fa-solid fa-user-shield"></i>
                <strong>
                    <p></p>Seguridad, de principio a fin</p>
                </strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div><br>
        </div>
        <div class="texto-final">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>

    </section>

</footer>

<script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>