<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
        <!--link de estilo-->
    <link rel="stylesheet" href="/css/style.css">
        <!--link de las fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap" rel="stylesheet">
        <!--link de los iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="main-header-top-bar">
                <section class="top-bar-con-busqueda">
                    <img src="/images/logo-mercado-liebre.svg" class="img-logo">
                    <div class="barra-de-busqueda">
                        <input placeholder="Buscar productos, marcas " type="text">
                        <button class="boton"><i class='bx bx-search-alt-2' ></i></button>
                    </div> 
                </section>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>            
        </div>
        <a href="" class="boton-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="nav-bar">
            <ul class="left-nav">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="right-nav">
                <li>
                    <a href="/register">Crea tu cuenta</a>
                    <i class="fa-regular fa-address-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <section class="navegacion">
            <div class="hamburguer"><i class='bx bx-menu'></i></div>
        </section>
    </header>
    <main class="register">
    <form action="/register" class="register-form">
        
        <label for="nombre-completo">Nombre y apellido</label>
        <input type="text">   
    
        <label for="user-name">Nombre de usuari@</label>
        <input type="text">
     
        <label for="fecha-de-nac">Fecha de nacimiento</label>
        <input type="date">

        <label for="" class="domicilio">Domicilio </label>
        <input type="text" name="" id="">

        <label for="" class="perfil-usuario">perfil de usuario</label>
            <div>
                <input type="radio" value="si"> <label for="">Comprador</label>
                <input type="radio" value="no"> <label for="">Vendedor</label>
            </div>

            <label for="">Intereses</label>
            <label for="">Electro</label>
            <input type="checkbox">
            <label for="">Moda</label>
            <input type="checkbox">
            <label for="">Hogar</label>
            <input type="checkbox">
            <label for="">Jugueteria</label>
            <input type="checkbox">



            <label for="" class="img-user">Foto de usuario</label>
            <input type="file">
 
            <label for="">Contraseña</label>
            <input type="password">

            <label for="">Confirmar contraseña</label>
            <input type="password" placeholder="password">

            <button type="submit">Enviar</button>

            <button type="reset">Borrar</button>
    </form>    
 </main>
 <footer class="foot">
    <div>
        <div class="card"><i class='bx bxs-credit-card'></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p class="cuerpo-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    </div>
    <div>
        <div class="gift"><i class='bx bx-gift' ></i></div>
        <h4>Envío gratis desde $ 2.500 </h4>
        <p class="cuerpo-de-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
    </div>
    <div>
        <div class="security"><i class="fa-solid fa-user-shield"></i></div>
        <h4>Seguridad, de principio a fin</h4>
        <p class="cuerpo-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
    </div>
    <div>
        <p class="copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>